#section3{
    /* border:2px solid red; */
    height: 150vh;
    background-image: url("https://buy.yulu.bike/main_assets/img/swap@2x.png");
    /* background-position:top center ; */
    background-repeat: no-repeat;
}
